# CHAPTER 6
---
# Data Loading, Storage, and File Formats

In [1]:
import pandas as pd
import numpy as np
from shapely import geometry
import sqlite3

## Reading and Writing Data in Text Format <font color='green'>[Essential]</font>

### Reading Data in Text Format <font color='green'>[Essential]</font>

In [2]:
training_folder = r'../'
data_folder = training_folder + 'data/'

In [3]:
df = pd.read_csv(data_folder + r'pandas/data.csv')

In [11]:
# cuidado con el encoding 'latin'
accent = pd.read_csv(data_folder + r'pandas/accent.csv', encoding='latin')

In [5]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
accent

   a   b   c   d message
0  1   2   3   4   héllo
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
pd.read_csv(data_folder + r'pandas/point_virgule.csv')

  a;b;c;d;message
0   1;2;3;4;hello
1   5;6;7;8;world
2  9;10;11;12;foo

In [8]:
pd.read_csv(data_folder + r'pandas/point_virgule.csv', sep=';')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### Writing Data Out to Text Format <font color='green'>[Essential]</font>

In [9]:
df.to_csv(data_folder + r'pandas/written_dataframe.csv')

In [10]:
df['a'].to_csv(data_folder + r'pandas/written_series.csv')