# Structures de données
Pur faire simple: uns structure de données est une collection de données qui possède une structure particulière.

... on est bien avancés

## Listes
Une liste est une structure de données assez courante. En Python, elle s'écrit comme une séquence de données, séparées par une virgule et contenues dans des crochets.

On peut accéder aux éléments d'une liste par son index.

On peut la déclarer en utilisant les crochets [] ou le mot-clé 'List'

In [1]:
a = []
print(a)
print(type(a))
a = [1, 2, 3]
a

[]
<class 'list'>

[1, 2, 3]

In [2]:
communes = ['Ajaccio', 'Bastia', 'Bonifacio']
communes

['Ajaccio', 'Bastia', 'Bonifacio']

### Indexation
Les éléments d'une liste sont indexés par leur position dans la liste. Le premier index vaut 0.

In [3]:
communes = ['Ajaccio', 'Bastia', 'Bonifacio']
communes[0]

'Ajaccio'

In [4]:
communes[1]

'Bastia'

L'index peut également être exploré dans le sens négatif:

In [10]:
communes[-1]

'Bonifacio'

#### Exercice
Donnez l'avant-dernière valeur de la liste de communes donnée plus haut

### Liste de liste
Il est tout à fait possible de faire une liste de liste.

A l'accès, le permier accès à la liste donnera une liste, à laquelle nous pouvons à nouveau avoir accès:

In [11]:
prenoms = ['Ange', 'Bianca', 'Bartolumeu']
liste_de_liste  = [communes, prenoms]
print(liste_de_liste)
print(liste_de_liste[1])
print(liste_de_liste[1][2])

[['Ajaccio', 'Bastia', 'Bonifacio'], ['Ange', 'Bianca', 'Bartolumeu']]
['Ange', 'Bianca', 'Bartolumeu']
Bartolumeu

## Slicing
Comme pour les string, on peut accéder à toute une partie de la liste:

In [14]:
villes = ['Ajaccio', 'Bastia', 'Corte', 'Sarente']
print(villes[:2])
print(villes[-2:])
print(villes[1:3])

['Ajaccio', 'Bastia']
['Corte', 'Sarente']
['Bastia', 'Corte']

Il est aussi possible de slicer une liste avec un pas fixé:

In [21]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(num[1:8])
print(num[1:8:3])

[2, 3, 4, 5, 6, 7, 8]
[2, 5, 8]

### Fonctions
De [multiples fonctions](https://docs.python.org/3/tutorial/datastructures.html?highlight=list#more-on-lists) sont disponibles pour les listes.

In [27]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
len(num)

9

In [29]:
min(num)

1

In [30]:
max(num)

9

In [31]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [33]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [34]:
a = [1, 2, 3]
a.append([4, 5, 6])
a

[1, 2, 3, [4, 5, 6]]

In [35]:
a = [1, 2, 3]
a.pop()
a

[1, 2]

In [37]:
a = [1, 2, 3]
a.pop(1)
a

[1, 3]

In [39]:
prenoms = ['Ange', 'Bianca', 'Bartolumeu']
'Ange' in prenoms

True

In [46]:
prenoms = ['Ange', 'Bianca', 'Bartolumeu']
prenoms.index('Bianca')

1

In [52]:
my_list = [1, 2, 3, 'soleil', 4, 8, 6]
print(my_list)
my_list.remove('soleil')
print(my_list)
del my_list[1]
print(my_list)
my_list.reverse()
print(my_list)
my_list.sort()
print(my_list)

[1, 2, 3, 'soleil', 4, 8, 6]
[1, 2, 3, 4, 8, 6]
[1, 3, 4, 8, 6]
[6, 8, 4, 3, 1]
[1, 3, 4, 6, 8]

#### Exercice
On va vérifier que Bastia est dans les trois premières communes par ordre alphabétique d'une liste de communes

Suivez les instructions

In [6]:
communes = ['Corte', 'Sarente', 'Bastia', 'Ajaccio']
communes_in_alphabetical_order = [] # Triez les communes dans l'ordre alphabétique
first_three = []  # sélectionnez uniquement les trois premières
False # écrivez ici un test qui vérifie que 'Bastia' est dans la liste first_three et renvoie un booléen

False

### Ordre

Par défaut, les comparaisons de caractères se font entre les valeurs ASCII. Ici 'z' est plus grand que 'az'

In [38]:
mlist = ['bzaa','ds','nc','az','z','klm']
print("max =",max(mlist))
print("min =",min(mlist))

max = z
min = az

In [40]:
nlist = ['1','94','93','1000']
print("max =",max(nlist))
print('min =',min(nlist))

max = 94
min = 1

Il est aussi possible de constituer des listes à partir de mots:

In [45]:
print(list('Hello World!'))
print('Hello World!'.split())
print('ceci,est,un,texte,séparé,par,des,virgules'.split(','))

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']
['Hello', 'World!']
['ceci', 'est', 'un', 'texte', 'séparé', 'par', 'des', 'virgules']

### Valeurs et copies

On peut assigner des valeurs à des éléments de listes:

In [53]:
a = [1, 2, 3]
a[1] = 5
a

[1, 5, 3]

In [54]:
a = [1, 2, 3]
a[1:] = [5, 6, 7, 8]
a

[1, 5, 6, 7, 8]

Mais il faut bien différencier assignation et copie. L'assignation ne donne qu'un pointeur vers la liste:

In [56]:
a = [1, 2, 3]
b = a
a[1] = "j'ai changé a"

b

[1, "j'ai changé a", 3]

In [57]:
a = [1, 2, 3]
b = a[:]
a[1] = "j'ai changé a"

b

[1, 2, 3]

## Tuples
Un tuple ressemble à s'y méprendre à une liste. La grosse différence: ses éléments ne peuvent pas être changés.

On les utilise lorsque changer un élément sans l'autre n'a pas de sens.
par exemple, la fonction divmod, qui rend le dividende et la partie entière rend un tuple car les deux sont liés et n'ont pas de sens l'un sans l'autre:

In [59]:
a = divmod(10,3)
print(a)
print(type(a))

(3, 1)
<class 'tuple'>

On peut déclarer des tuples ainsi:

In [72]:
a = 27,
print(a)
a = (27,3)
print(a)
a = ()
print(type(a))
tuple([1,2,3])

(27,)
(27, 3)
<class 'tuple'>

(1, 2, 3)

On ne peut pas changer un élément

In [67]:
a = (1, 2)
a[1] = 1

TypeError: 'tuple' object does not support item assignment

Mais on peut en créer de nouveaux

In [71]:
a = (1, 2)
a + (4,3)

(1, 2, 4, 3)

### Assignation multiple

Les tuples permettent d'assigner de multipes variables en même temps. C'est parfois utile

In [64]:
(a,b,c) = (1,2,3)
a

1

## Sets
Un set est un ensemble non ordonné d'éléments uniques.

C'est très pratique pour faire des calculs d'ensembles.

Ils se présentent (et peuvent se déclarer) avec des curly brackets {}

In [66]:
{1,2,4,5,5,5}

{1, 2, 4, 5}

In [65]:
a = set([1, 2, 1, 1, 1, 2, 32, 1, 2, 3, 1, 1, 1, 5])
a

{1, 2, 3, 5, 32}

Les sets sont mutables

In [74]:
a = {1, 2, 3, 4}
a.add(5)
a

{1, 2, 3, 4, 5}

In [78]:
a.pop()
a

{4, 5}

Les sets n'ont pas d'ordre

In [79]:
a = {1,2,3}
a[1]

TypeError: 'set' object does not support indexing

### Opérations sur les Sets

In [82]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))
print(a.intersection(b))
print(a - b)

{1, 2, 3, 4, 5}
{3}
{1, 2}

#### Exercice
Suivez les instructions en remplaçant les chapines de caractères:

In [8]:
villes_corses = ['Corte', 'Sarente', 'Bastia', 'Ajaccio']
villes_contenant_un_a = ['bastia', 'Ajaccio', 'Marseille', 'Paris', 'Bordeaux']

print("villes corses comportant un a")
print("villes qui ne sont pas présentes dans les deux listes à la fois")
print("villes contenant un a mais non corses")

villes corses comportant un a
villes qui ne sont pas présentes dans les deux listes à la fois
villes contenant un a mais non corses

# Dictionnaires
Les dictionnaires sont un type très très utiles en Python.

Ils correspondent bien à leur nom: ils permettent d'asigner une valeur (value) à une entrée (key).

In [83]:
a = {"ceci_est_une_clé": "ceci est une valeur"}
a

{'ceci_est_une_clé': 'ceci est une valeur'}

In [84]:
a = dict()
a['ma_clé'] = 'ma_valeurs'
a

{'ma_clé': 'ma_valeurs'}

On peut utiliser plusieurs types de clés

In [85]:
a = dict()
a['test'] = 2
a[1] = 'miaou'
a[1.56] = 5
a

{'test': 2, 1: 'miaou', 1.56: 5}

## Fonctions de dictionnaires

In [87]:
a = {'a': 1}
b = {'b': 2}
print(list(a.values())) # values: valeurs
print(list(b.keys())) # keys: clés
a.update(b)
print(a)
print(list(a.items())) # items: rend un intérateur de tuples (clé, valeur)
a.pop('a') # supprime une entrée de dictionnaire
print(a)
a.clear() # vide le dictionnaire
print(a)

[1]
['b']
{'a': 1, 'b': 2}
[('a', 1), ('b', 2)]
{'b': 2}
{}

#### Exercice
Suivez les sinstructions:

In [ ]:
sidekicks = {
    "Aladdin": "Abu",
    "Mulan": "Mushu",
    "Snow White": "Seven dwarves",
    "Cinderella": "Gus"
}

sidekicks2 = {
    "The little mermaid": "Sebastian",
    "Frozen": "Olaf",
    "Peter Pan": "Tinker Bell"
}

all_sidekicks = {}  # dictionnaire qui regroupe les deux
print()  # imprimez la liste de tous les sidekicks
print()  # imprimez la liste de tous les personnages princiaux
print()  # imprimez un liste de tuples (personnage, sidekick)