# TD 1
---
# first_steps

In [8]:
import pandas as pd

créer le dataframe «gare» à partir du fichier r'../../data/corse/gares_corse.txt'

In [9]:
# lecture de la table des gares
gares = pd.read_csv(r'../../data/corse/gares_corse.txt', encoding='latin', header=None)

afficher les 5 premières lignes du la table gare

In [10]:
gares.head()

                                  0
0  Gare de Campo dell'Oro (Ajaccio)
1         Gare de Salines (Ajaccio)
2                    Gare d'Ajaccio
3                   Gare de Ucciani
4                 Gare de Carbuccia

renommer la colonne 0 en 'name'

In [11]:
gares.columns = ['name']

In [12]:
gares.head()

                               name
0  Gare de Campo dell'Oro (Ajaccio)
1         Gare de Salines (Ajaccio)
2                    Gare d'Ajaccio
3                   Gare de Ucciani
4                 Gare de Carbuccia

ranger les gares par ordre alphabétique en utilisant le champ 'name'

In [13]:
gares.sort_values('name', inplace=True)

 - créer la colonne 'name_corse' à partir de la colonne name 
 - 'Ajaccio' dans 'name' devient 'Ajaccio, corse' dans 'name_corse'

In [14]:
gares['name_corse'] = gares['name'] + ', corse'

In [15]:
gares.head()

                        name                       name_corse
2             Gare d'Ajaccio            Gare d'Ajaccio, corse
30           Gare d'Algajola           Gare d'Algajola, corse
29             Gare d'Aregno             Gare d'Aregno, corse
14  Gare d'Erbajolo (Bastia)  Gare d'Erbajolo (Bastia), corse
46    Gare d'Ondari-Arinella    Gare d'Ondari-Arinella, corse

créer la colonne 'ajaccio' qui contient True si la colonne 'name' contient 'Ajaccio'
- définir la fonction contains_ajaccio(name) qui renvoie True si 'Ajaccio' est dans name
- appliquer la fonction contans_ajaccio à la colonne name

In [16]:
def contains_ajaccio(name):
    return 'Ajaccio' in name

In [17]:
print("""contains_ajaccio('test'), contains_ajaccio('gare de Ajaccio')""")
contains_ajaccio('test'), contains_ajaccio('gare de Ajaccio')

contains_ajaccio('test'), contains_ajaccio('gare de Ajaccio')

(False, True)

In [18]:
gares['ajaccio'] = gares.name.apply(contains_ajaccio)

In [19]:
gares.head()

                        name                       name_corse  ajaccio
2             Gare d'Ajaccio            Gare d'Ajaccio, corse     True
30           Gare d'Algajola           Gare d'Algajola, corse    False
29             Gare d'Aregno             Gare d'Aregno, corse    False
14  Gare d'Erbajolo (Bastia)  Gare d'Erbajolo (Bastia), corse    False
46    Gare d'Ondari-Arinella    Gare d'Ondari-Arinella, corse    False

créer le DataFrame gares_ajaccio : 
- c'est une copie du dataframe gares qui ne contient que les lignes pour lesquelles ajaccio == True

In [20]:
gares_ajaccio = gares.loc[gares['ajaccio']].copy()

In [21]:
gares_ajaccio

,name,name_corse,ajaccio
2,Gare d'Ajaccio,"Gare d'Ajaccio, corse",True
0,Gare de Campo dell'Oro (Ajaccio),"Gare de Campo dell'Oro (Ajaccio), corse",True
1,Gare de Salines (Ajaccio),"Gare de Salines (Ajaccio), corse",True

In [22]:
# Hide code
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" 
value="Click here to toggle on/off the raw code."></form>''')